
<div class="page-header">
    <div class="pull-left">
        <h4 class="title">---</h4>
        <div class="btn-group btn-group-sm">           
            <button class="btn btn-info frsh">刷新</button>
            <button class="btn btn-danger delgrp"><i class="glyphicon glyphicon-trash"></i> 删除选中</button>
            <button class="btn btn-info addMdl"><i class="glyphicon glyphicon-plus"></i>增加</button>
        </div>       
    </div> 
</div>