

@model  IEnumerable<Edu.Entity.TrainLesson.VcrTest>
 

 
    @if (Model==null || Model.Count()==0)
    {
        <p class="margin-large-top">上传失败,没有测试题</p>
    }
    else
    {

        foreach (var item in Model)
        {
            <div style="margin-top:10px;" property="@item.Id">
                @Html.Raw(item.Qustion)
            </div>
        }

    }
 




