
@using Edu.UI.Models.LiveViewModels

@model PagedLiveShow


@section style{
    <link href="~/Content/live/index.css" rel="stylesheet" />
}

<h2>Live Show Index</h2>

<section class="container hotest">
    <h3>热播</h3>
    <div>

    </div>
</section>

<section class="container ready">
    <h3>即将播映</h3>
    <div>

    </div>
</section>

@section scripts
{
    <script src="~/Scripts/live/index.js"></script>
}


