@using Edu.Entity.TrainBase
@model IEnumerable<Base_Period>

<section>
    <div class="hd">学段:</div>
    <div class="bd xd" name="xd">
        <ul>
            @{
                if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <li><a href="javascript:;" rel="xd_@item.Id">@item.TitleOrName</a></li>
                    }
                }
            }

        </ul>
    </div>
    <div class="clearfix"></div>
</section>
<section>
    <div class="hd">年级:</div>
    <div class="bd nj" name="nj">
        <ul></ul>
    </div>
    <div class="clearfix"></div>
</section>
<section>
    <div class="hd">学科:</div>
    <div class="bd xk" name="xk">
        <ul></ul>
    </div>
    <div class="clearfix"></div>
</section>
<section>
    <div class="hd">类别:</div>
    <div class="bd lb" name="lb">
        <ul></ul>
    </div>
    <div class="clearfix"></div>
</section>