
<div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>

<!----admin dash sidebar--->

<div class="subNavBox">
    <div class="sBox">

        <div class="subNav sublist-down">
            <span class="title-icon glyphicon glyphicon-chevron-down"></span>
            <span class="sublist-title">学校管理</span>
        </div>
        <ul class="navContent" style="display:block">
            <li class="active">
                <div class="showtitle" style="width:100px;"><img src="/Areas/Console/Public/image/leftimg.png" />学校列表</div>
                <a href="javascript:;" property="school/list"><span class="sublist-icon glyphicon glyphicon-signal"></span><span class="sub-title">学校管理</span></a>
            </li>
            <li>
                <div class="showtitle" style="width:100px;"><img src="/Areas/Console/Public/image/leftimg.png" />添加学校</div>
                <a href="javascript:;" property="school/add"><span class="sublist-icon glyphicon glyphicon-signal"></span><span class="sub-title">添加学校</span></a>
            </li>
         
        </ul>
    </div>

    <div class="sBox">
        <div class="subNav sublist-up">
            <span class="title-icon glyphicon glyphicon-chevron-up"></span>
            <span class="sublist-title">授权管理</span>
        </div>
        <ul class="navContent" style="display:none">
            <li>
                <div class="showtitle" style="width:100px;"><img src="/Areas/Console/Public/image/leftimg.png" />校长列表</div>
                <a href="#"><span class="sublist-icon glyphicon glyphicon-user"></span><span class="sub-title">校长列表</span></a>
            </li>
            <li>
                <div class="showtitle" style="width:100px;"><img src="/Areas/Console/Public/image/leftimg.png" />添加校长</div>
                <a href="#"><span class="sublist-icon glyphicon glyphicon-user"></span><span class="sub-title">添加校长</span></a>
            </li>
            <li>
                <div class="showtitle" style="width:100px;"><img src="/Areas/Console/Public/image/leftimg.png" />其他用户</div>
                <a href="#"><span class="sublist-icon glyphicon glyphicon-user"></span><span class="sub-title">其他用户</span></a>
            </li>
        </ul>
    </div>
    <div class="sBox">
        <div class="subNav sublist-up">
            <span class="title-icon glyphicon glyphicon-chevron-up"></span>
            <span class="sublist-title">系统管理</span>
        </div>
        <ul class="navContent" style="display:none">
            <li>
                <div class="showtitle" style="width:100px;"><img src="/Areas/Console/Public/image/leftimg.png" />发布信息</div>
                <a href="javascript:;" property=""><span class="sublist-icon glyphicon glyphicon-bullhorn"></span><span class="sub-title">发布信息</span></a>
            </li>
            <li>
                <div class="showtitle" style="width:100px;"><img src="/Areas/Console/Public/image/leftimg.png" />系统菜单</div>
                <a href="javascript:;" property=""><span class="sublist-icon glyphicon glyphicon-bullhorn"></span><span class="sub-title">发布信息</span></a>
            </li>
        </ul>
    </div>

</div>