
<dl class="account-basic clearfix">
    <dt class="pull-left">
        <p class="account-head">
            <img src="img/noavatar_middle.gif">
        </p>
    </dt>
    <dd class="pull-left margin-large-left margin-small-top">
        <p class="text-small">
            <span class="show pull-left base-name">会员账号</span>:<span class="margin-left">小朱 </span>
        </p>
        <p class="text-small">
            <span class="show pull-left base-name">认证状态</span>:
            <span class="margin-left">已认证</span>
            <!-- <a class="margin-left text-main text-underline" href="#">立即认证</a> -->
        </p>
        <p class="text-small">
            <span class="show pull-left base-name">注册时间</span>:<span class="margin-left">2015-01-12 11:50:22</span>
        </p>
    </dd>
</dl>