
@model Edu.Entity.Live.LiveHostShow

<h3>My Show </h3>
 
<table>
    <thead>
    <tr>
        <th>名称</th>
        <th>时间</th>
        <th>状态</th>
        <th>剩余时间</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
