<!--all menu needed-->
<div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>

<div class="subNavBox">
    <div class="sBox">
        <div class="subNav sublist-down">
            <span class="title-icon glyphicon glyphicon-chevron-down"></span>
            <span class="sublist-titl">学校账户</span>
        </div>
        <ul class="navContent" style="display:block">
            <li>
                <div class="showtitle" style="width:100px;"><img src="~/Areas/Console/Public/image/leftimg.png" />更改密码</div>
                <a href="#" property="schoolsys/schoolPwd"><span class="sublist-icon glyphicon glyphicon-wrench"></span><span class="sub-title">更改密码</span></a>
            </li>
            <li>
                <div class="showtitle" style="width:100px;"><img src="~/Areas/Console/Public/image/leftimg.png" />本校资料</div>
                <a href="#" property="schoolsys/schoolprofile"><span class="sublist-icon glyphicon glyphicon-edit"></span><span class="sub-title">本校资料</span></a>
            </li>
        </ul>
        <div class="subNav sublist-up">
            <span class="title-icon glyphicon glyphicon-chevron-up"></span>
            <span class="sub-title">系统管理</span>
        </div>
   
        <ul class="navContent" style="display:none">

            <li>
                <div class="showtitle" style="width:100px;"><img src="~/Areas/Console/Public/image/leftimg.png" />菜单管理</div>
                <a href="#" property="schoolsys/Menus"><span class="sublist-icon glyphicon glyphicon-user"></span><span class="sub-title">菜单管理</span></a>
            </li>
            <li>
                <div class="showtitle" style="width:100px;"><img src="~/Areas/Console/Public/image/leftimg.png" />用户授权</div>
                <a href="#" property="schoolsys/roles"><span class="sublist-icon glyphicon glyphicon-user"></span><span class="sub-title">用户授权</span></a>
            </li>
        </ul>

        <div class="subNav sublist-up">
            <span class="title-icon glyphicon glyphicon-chevron-up"></span>
            <span class="sub-title">人员管理</span>
        </div>
        <ul class="navContent" style="display:none">        
            <li>
                <div class="showtitle" style="width:100px;"><img src="~/Areas/Console/Public/image/leftimg.png" />教师管理</div>
                <a href="#" property="schooluser/teachers"><span class="sublist-icon glyphicon glyphicon-user"></span><span class="sub-title">教师管理</span></a>
            </li>
            <li>
                <div class="showtitle" style="width:100px;"><img src="~/Areas/Console/Public/image/leftimg.png" />学生查看</div>
                <a href="#" property="schooluser/students"><span class="sublist-icon glyphicon glyphicon-user"></span><span class="sub-title">学生查看</span></a>
            </li>

        </ul>
    </div>
</div>